@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;1,500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-color: #333;
	overflow-x: hidden;
	font-family: 'Noto Sans', sans-serif;
}

header {
	background-color: #333;
	color: #fff;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	list-style: none;
	display: flex;
}

nav ul li {
	margin-right: 20px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

main {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	justify-content: space-between;
	background-image: url(media/background.jpg);
	filter: brightness(0.9);
	box-shadow: #292929 15px 20px;
	justify-content: space-evenly;
}

#logo {
	padding: 0px 12px;
}

.products {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	justify-content: space-between;
}

.product {
	flex-basis: calc(33.33% - 20px);
	margin-bottom: 20px;
	background-color: #ffffff;
	padding: 20px;
	text-align: center;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.product img {
	height: 30vh;
}

.product h2 {
	margin-top: 10px;
	font-size: 20px;
}

.product p {
	margin-top: 10px;
	font-size: 16px;
}

.product .price {
	font-weight: bold;
	margin-top: 10px;
}

.product button {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px;
	margin-top: 10px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.product button:hover {
	background-color: #555;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
	margin-top: 20px;
	padding-bottom: 100px;
}

#cartdropdown {
	position: absolute;
	z-index: 10;
	width: 45%;
}

#pruduktsida {
	width: 100%;
	overflow-x: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#cartsida {
	width: 25vw;
	background-color: rgb(255, 255, 255);
	margin: 0px 0px 20px 0px;
}

#medelande {
	margin-top: 15px;
	width: 100%;
	height: 150px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	resize: none;
}




.hide {
	display: none;
}
  
.show {
	display: block;
}
  

#cartdropdown {
	position: fixed;
	top: 50px; 
	right: 10px; 
	z-index: 1;
	width: 350px;
	background-color: #fff;
	padding: 10px;
	color: #000;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	max-height: calc(100vh - 50px);
	overflow-y: auto;
  }
  
  
  
  .cart-items {
	color: #000000;
  }
  
  .cart-item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
  }
  
  .cart-item p {
	font-size: 16px;
	font-weight: bold;
  }
  
  .cart-item .cart-item-name {
	flex-grow: 1;
	margin-right: 10px;
  }
  

  /* ----------------------------- */





  @media (max-width: 600px) {
	header {
	  display: block;
	}
  
	#logo {
	  text-align: center;
	  margin-bottom: 10px;
	}
  
	nav {
	  text-align: center;
	}
  
	nav ul {
	  display: block;
	}
  
	nav.show ul {
	  display: block;
	}
  
	nav ul li {
	  margin: 5px 0;
	}
  
	nav ul li a {
	  display: block;
	  padding: 5px;
	  background-color: #333;
	  color: #fff;
	}
  
	#cartdropdown {
	  position: static;
	  width: 260px;
	}
  }